/* Print css */

* {margin: 0; padding: 0; font-size: 14px;}
h1 {font-size: 20px; font-weight: bold;}
h2 {font-size: 18px; font-weight: normal}
h3 {font-size: 16px; font-weight: normal;}

/* Hide some junk */
.breadcrumbs, .button, footer, #flags, .survey-number-note, .commentnote, .state-offices {
	display: none;
}

/* Fix some layouts */
body,
.candidate.voter-guide.footerbars {min-height: 10px !important; height: auto !important;}


header h1 a[href]:after {display: none}

.content-title .large-8 {float: left; width: 60%;}
.content-title .large-4 {float: right; width: 35%;}
.content-title .large-8 h1 {font-size: 38px; margin: 0; padding: 0; line-height: 1em;}
.content-title .large-4 h2 {font-size: 15px; margin: 0; padding: 0; line-height: 1em;}


.guide-menu {
	position: inherit !important;
	display: inline-block !important;
	height: auto !important;
	min-height: 20px !important;
	width: 100% !important;
	padding-bottom: 0px;
}

.response-legend {margin: 0; padding: 0;}

.response-legend li {
	display: inline-block;
	width: 30%;
	margin-right: 2%;
}

.survey-responses.row {padding: 0 !important; margin: 0 0 2px !important;}
.survey-responses .medium-4 {
	font-weight: bold;
	margin: 0px  !important;
	padding: 0  !important;
	line-height: 20px;
	display: block;
	float: left;
	width: 30%;
}

.survey-responses .medium-8 {
	display: block;
	margin: 0  !important;
	padding: 0  !important;
	float: right;
	width: 69%;
}

.survey-responses .columns {margin: 0; padding: 0;}

.survey-responses a[href]:after {
     content:" ("attr(href)")";
     color:#878787;
     background-color:inherit;
     font-style:italic;
     font-size: 12px;
     font-weight: 100;
     display: none;
  }
  
  .no-response {border: 0px !important;}
  .no-response h5 {font-size: 13px; font-weight: bold; float: left; width: 30%;}
  .no-response p {font-size: 11px; font-weight: normal; line-height: 14px; float: left; width: 60%;}
  
  
  .printonly {display: block;}